/* Estilos Mobile-First */
header {
  display: flex;
  width: 100%;
  height: auto;
  padding: 30px 0;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;

  & section{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
    width: 100%;
  
    & nav{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      border: 1px solid var(--bdr-color);
      border-radius: 20px;
      padding: 5px;
      backdrop-filter: blur(10px);
  
      & ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        & div{
          display: flex;
          padding: 1rem;
          gap: 10px;

          & li{
            list-style: none;
            
            & a{
              color: var(--fnt-color);
              
             & i{
                font-size: 1.5rem;
                opacity: .6;
                
                &:hover{
                  opacity: 1;
                  transition: all .6s;
                  transform: scale(1.2);
                  padding: 5px;
               
                }
              }
            } 
          }
        }
      }
    }
  }
}

/* Estilos para dispositivos de médio porte (tablets). */
@media screen and (min-width: 540px){

  header {
    display: flex;
    width: 100%;
    height: auto;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
  
    & section{
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 300px;
      width: 100%;
    
      & nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 1px solid var(--bdr-color);
        border-radius: 20px;
        padding: .5rem;
        backdrop-filter: blur(10px);
    
        & ul{
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
  
          & div{
            display: flex;
            padding: .7rem;
            gap: 10px;
  
            & li{
              list-style: none;
              
              & a{
                color: var(--fnt-color);
                
               & i{
                  font-size: 1.7rem;
                  opacity: .6;
                  
                  &:hover{
                    opacity: 1;
                    transition: all .6s;
                    transform: scale(1.2);
                    padding: .5rem;
                 
                  }
                }
              } 
            }
          }
        }
      }
    }
  } 
}

/* Estilos para dispositivos de grande porte (deskops, notebooks) */
@media screen and (min-width: 1024px){

  header {
    display: flex;
    width: 100%;
    height: auto;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
  
    & section{
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 300px;
      width: 100%;
    
      & nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 1px solid var(--bdr-color);
        border-radius: 20px;
        padding: .5rem;
        backdrop-filter: blur(10px);
    
        & ul{
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          width: 100%;
  
          & div{
            display: flex;
            padding: .7rem;
            gap: 10px;
  
            & li{
              list-style: none;
              
              & a{
                color: var(--fnt-color);
                
               & i{
                  font-size: 1.7rem;
                  opacity: .6;
                  
                  &:hover{
                    opacity: 1;
                    transition: all .6s;
                    transform: scale(1.2);
                    padding: .5rem;
                 
                  }
                }
              } 
            }
          }
        }
      }
    }
  }
}