header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding-top: 20px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.header-s {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  width: 60%;
  border-radius: 10px;
  border: 1px solid var(--bdr-color);
  height: 60px;
}

.header-c {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.separador {
  display: flex;
  gap: 0.5rem;
}

.c-item {
  width: 24px;
  height: 24px;
  & a {
    text-decoration: none;
    outline: none;
  }
  & a i {
    font-size: 24px;
    color: var(--fnt-color);
    opacity: 0.6;
  }
  
  &:hover i {
    transform: scale(1.5);
    transition: 0.7s;
    opacity: 1;
  }
}

#switch-theme {
  width: 24px;
  height: 24px;
}
#switch-theme i {
  font-size: 24px;
  color: var(--fnt-color);
  opacity: 0.6;
}
#switch-theme button {
  width: 24px;
  height: 24px;
  font-size: auto;
  background: transparent;
  outline: none;
  border: none;
}

#switch-theme i:last-child {
  display: none;
}

#switch-theme button:hover {
  transform: scale(1.5);
  opacity: 1;
  transition: 0.7s;
  cursor: pointer;
}