// Header, caixa com os principais pontos para navegação no site
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
}

// Container do Header, serve para organizar as divs
.header-s{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    border: 1px solid var(--bdr-color);
    height: 60px;
}

// Container dos itens do header
.header-c{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    justify-content: center;
}
.separador{
    display: flex;
    gap: .5rem;
}
// Itens do header, itens de navegação
.c-item{
    width: 24px;
    height: 24px;

    & a{
        text-decoration: none;
        outline: none;
        
        & i{
            font-size: 24px;
            color: var(--fnt-color);
            opacity: .6;
        }
    }
}
// Efeitos visuais ao passar o mouse sobre os itens (ou clicar)
.c-item:hover{  
        & i{
            transform: scale(1.5);
            transition: .7s;
            opacity: 1;
        }
    }
// Efeitos visuais para o alterador de modo escuro
#switch-theme{
    width: 24px;
    height: 24px;

    & i{
        font-size: 24px;
        color: var(--fnt-color);
        opacity: .6;
    }

    & button{
        width: 24px;
        height: 24px;
        font-size: auto;
        background: transparent;
        outline: none;
        border: none;
    }

}
#switch-theme i:last-child{
    display: none;
}
#switch-theme button:hover{
    transform: scale(1.5);
    opacity: 1;
    transition: .7s;
    cursor: pointer;
}