main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.max-width {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 275px;
}

.video-s {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.video-c {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
}

.bg-video {
  position: relative;
  padding: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 0;
}

.bg-video-txt {
  position: absolute;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  outline: none;
}
.bg-video-txt h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Ubuntu Condensed", serif;
  color: var(--fnt-color);
}

.introduction {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.introduction-c {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img-c {
  display: flex;
  width: 250px;
  height: 250px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 10px;
}

.img-i {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--bdr-color);
}

.introduction-txt-c {
  display: flex;
  width: 75%;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 30px 0px 30px 0px;
  gap: 1rem;
}
.introduction-txt-c h2 {
  font-size: 34px;
  font-weight: 700;
  font-family: "Ubuntu Condensed", serif;
  color: var(--fnt-color);
}
.introduction-txt-c p {
  font-size: 14px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: var(--fnt-color);
}

.programming-languages {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.programming-languages-c {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 5px;
  justify-content: center;
}

.programming-languages-i {
  width: 32px;
  height: 32px;
  margin: 10px;
  opacity: 0.6;
}
.programming-languages-i svg {
  width: 32px;
  height: 32px;
}
.programming-languages-i svg:hover {
  opacity: 1;
  transform: scale(1.4);
  transition: 0.7s;
}

.technologies-s {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.technologies-c {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 0px 30px 0px;
}
.technologies-c h1 {
  font-size: 40px;
  font-weight: 700;
  font-family: "Ubuntu Condensed", serif;
  color: var(--fnt-color);
}

.technologies-card-c {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: var(--bg--color-revamp);
  border: 1px solid var(--bdr-color);
  border-radius: 20px;
}

.technologies-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  height: auto;
  padding: 10px;
}

.technologies-card-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.technologies-card-description h3 {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  background-color: var(--bg--color-btn);
  border-radius: 20px;
  margin-bottom: 5px;
  border: 1px solid var(--bdr-color);
}
.technologies-card-description p {
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 5px;
}

.technologies-card-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.technologies-card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.technologies-card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.technologies-card-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  background-color: var(--bg--color-btn);
  border: 1px solid var(--bdr-color);
  color: var(--fnt-color);
  font-size: 10px;
  font-weight: 600;
  transition: all 0.3s;
}
.technologies-card-buttons button:hover {
  background-color: var(--bg--color-revamp-hover);
  color: var(--fnt-color-hover);
}/*# sourceMappingURL=main.css.map */